# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Database files (если вдруг локально используешь sqlite)
*.db
*.sqlite3

# OS files
.DS_Store

# Render / deploy artifacts
*.zip

# Migrations cache (если есть alembic)
alembic/versions/__pycache__/